.review-card-container {
  text-align: center;
  padding: 30px;
  display: flex;
  margin: 5px;
  border: #00000030 solid 1px;
  border-radius: 15px;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.review-card-container .delete {
  font-size: 40px;
  color: rgb(254, 67, 67);
  cursor: pointer;
}
.review-card-container .delete:hover {
  color: red;
}

.review-card-container .edit {
  font-size: 35px;
  color: rgb(79, 79, 252);
  cursor: pointer;
}

.review-card-container .edit:hover {
  color: blue;
}

span.style-module_tooltip__tKc3i,
.review-card-container button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #0f80d0;
  color: ghostwhite;
}

.review-card-container button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.review-card-container button::before,
.review-card-container button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.review-card-container button::before {
  content: "";
  background: #0071c2;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.review-card-container button:hover::before {
  transform: translate3d(100%, 0, 0);
}

span.style-module_tooltip__tKc3i {
  background-color: #0071c2;
}

.review-card-container .user-edit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}
.review-card-details {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.review-card-container p,
.review-card-container textarea {
  font-size: 1.5rem;
  font-family: monospace, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  padding: 15px 10px;
}
.rating-container {
  width: fit-content;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  background-color: rgb(252, 251, 232);
}

.review-card-container .reviewee {
  font-weight: 900;
}
