.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  height: max-content;
  color: black;
}

.lsTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: var(--input-background-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(147, 147, 147);
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
}
.lsOptionItem span {
  font-weight: 700;
  align-content: space-evenly;
}

.lsOptionInput {
  width: 80px;
  height: 30px;
}

.listFilter {
  border: var(--border);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.listFilter .filterHeader {
  padding: 5px;
  font-weight: 800;
}
.filterOptions {
  padding: 5px;
}

.listFilter .filterSubHeader {
  border-top: var(--border);
  padding: 5px;
  font-weight: 800;
}

.listFilter .filerItem .checkbox {
  border-radius: 4px;
  cursor: pointer;
  color: var(--button-color);
}
.listFilter .filerItem .checkbox:focus {
  box-shadow: none;
}

.listFilter .filerItem .filterText {
  margin-left: 10px;
  font-weight: lighter;
  font-size: smaller;
}

.listFilter .filerItem {
  padding: 5px;
  display: flex;
  align-items: center;
}

.listSearch > button {
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

.pagination_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prev_button,
.next_button,
.disabled {
  font-size: 50px;
  color: white;
  background-color: var(--button-color);
  width: 70px;
  border: 2px solid var(--back-ground-main-color);
}
.next_button {
  align-self: flex-end;
}

.next_button:hover,
.prev_button:hover {
  color: var(--button-color);
  background: white;
  border: 2px solid;
}
.disabled {
  background-color: #898989;
  cursor: not-allowed;
}
