.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listFilter{
  position: sticky;
  border: .1px solid rgb(183, 181, 181);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

}

.listFilter .filterHeader{
  border-bottom: .1px solid rgb(183, 181, 181);
  padding: 5px;
  font-weight: 800;
}

.listFilter .filerItem .checkbox{
  border-radius: 4px;
  cursor: pointer;
}

.listFilter .filerItem .filterText{
  margin-left: 10px;
  font-weight:lighter;
  font-size: smaller;
}

.listFilter .filerItem{
  padding: 5px;
  display: flex;
  align-items: center
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

.pagination_container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prev_button,.next_button,.disabled{
  font-size: 50px;
  color: white;
  background-color: #0071c2;
  width: 70px;
}
.next_button{
  align-self: flex-end;
}
.disabled{
  background-color: #898989;
  cursor:not-allowed;
}