.NewRoomMainContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.NewRoomInputContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  border: #0000002e solid 2px;
  padding: 20px;
  border-radius: 20px;
}

.NewRoomInputContainer > h2 {
  font-weight: 900;
  font-size: x-large;
}

.NewRoomInputContainer .InputHolders {
  display: flex;
  column-gap: 20px;
  flex-direction: column;
  row-gap: 5px;
}

.RoomInputHoldersHolder {
  display: grid;
  grid-template-columns: auto auto;
}

.RoomInputHolders > p {
  font-weight: 700;
}

.RoomInputHolders > input,
textarea {
  border: #0000002e solid 2px;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  margin-left: 40px;
}
.RoomInputHolders > textarea {
  width: 95%;
}

.NewRoomNumbersHolder {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.NewRoomNumberInput {
  border: var(--border);
  width: 50px;
  height: 50px;
}

.NewRoomNumberAppend {
  font-size: 50px;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RemoveBtn {
  position: relative;
  bottom: 50px;
  left: 38px;
  background-color: red;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.NewRoomNumbersInputs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
}

.NewRoomNumbersInputs input {
  width: 60px;
}

.NewRoomNumbersInputs button {
  width: 40px;
  color: red;
  font-size: 25px;
}

.NewRoomNumbersInputs button:hover {
  color: rgba(249, 59, 59, 0.837);
}

.NewRoomNumbersButtonHolder {
  display: flex;
  justify-content: center;
}

.NewRoomInputContainer > div .NewRoomSubmit {
  width: 250px;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 7px;
  border: var(--main-color) solid 2px;
  font-weight: 700;
}

.NewRoomInputContainer > div .NewRoomSubmit:hover {
  background-color: white;
  color: var(--main-color);
  padding: 10px;
  border-radius: 7px;
}

.roomFacilities {
  display: contents;
}

.roomFacilities > p {
  font-weight: 700;
}

.RoomFacilitiesContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
}

.RoomFacilityItem {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.RoomFacilityCheckbox {
  border-radius: 10px;
  cursor: pointer;
}
