.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.FP_container {
  box-shadow: var(--shadow);
  background-color: var(--light-color);
  border: none;
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 8px;
}
.main-container .name {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: var(--logo-color);
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  top: -28px;
  position: relative;
}

.FP_container .lButton {
  min-width: 30vw;
  padding: 10px 40px;
  border-radius: 5px;
  width: 33%;
  height: fit-content;
}

.FP_container .lButton:disabled {
  cursor: not-allowed;
}

.FP_container input {
  text-align: center;
  border: none;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 20px;
  min-width: 30vw;
}

.FP_container input :valid {
  border: 2px solid green;
}

.info {
  max-width: 60%;
  font-size: smaller;
  text-align: center;
}
