.BookingItemCheckButton {
  background-color: #c20000;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: 2px solid #c20000;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.BookingItemCheckButton:hover {
  background-color: var(--back-ground-main-color);
  color: #c20000;
}
