.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  box-shadow: var(--shadow);

  border: none;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.lContainer .name {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: var(--logo-color);
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  top: -28px;
  position: relative;
}

.lInput {
  position: relative;
  left: 20 px;
  height: 50px;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
}
.passwordContainer {
  width: -webkit-fill-available;
  display: flex;
  left: 39px;
  position: relative;
}

.lButton {
  padding: 10px 20px;
  border-radius: 5px;
  width: 90%;
}

.lButton:disabled {
  cursor: not-allowed;
}

.register {
  text-align: center;
}
label {
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .lContainer {
    width: 80vw;
    position: absolute;
  }
}

@media screen and (max-width: 500px) {
  .lContainer {
    width: 90vw;
    position: absolute;
  }
}

.forgot {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #797979ea;
  font-size: smaller;
}
