:root {
  --main-color: #003b95;
  --light-color: aliceblue;
  --button-color: #006ce4;
  --button-hover-color: #0057b8;
  --after-hover-color: white;
  --back-ground-main-color: #ffffff;
  --color: rgb(0, 0, 0);
  --logo-color: var(var(var(--button-color)));
  --input-background-color: white;
  --border: 1px solid lightgray;

  --shadow: 0 4px 6px -1px var(--light-color), 0 2px 4px -2px var(--light-color);
}

@media (prefers-color-scheme: DARK) {
  :root {
    --back-ground-main-color: #0e182a;
    --color: rgb(255, 255, 255);
    --after-hover-color: #222f44;
    --light-color: #384357;
    --logo-color: white;
    --input-background-color: #222f44;
  }
  input,
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [type="checkbox"],
  [multiple],
  textarea,
  select {
    background-color: var(--input-background-color);
  }

  .Toastify__toast-container .Toastify__toast-theme--light {
    background-color: var(--input-background-color);
    color: #ffffff;
  }
}

/* Chrome,
  Safari,
  Edge,
  Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Standard property */
  -webkit-appearance: textfield; /* WebKit browsers */
  -moz-appearance: textfield; /* Firefox */
}

/* Works on Firefox */
* {
  scrollbar-color: var(--button-color) var(--light-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--back-ground-main-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 20px;
  border: 3px solid var(--back-ground-main-color);
}

/* Action Button */

.ActionBtn {
  background-color: var(--button-color);
}

.ActionBtn:hover {
  background-color: var(--button-hover-color);
}

/* Router Button */

.RouterBtn {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.RouterBtn:hover {
  background-color: var(--after-hover-color);
  color: var(--button-color);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle {
  width: 1024px;
  font-weight: 600;
  font-size: 24px;
}

@media screen and (max-width: 1050px) {
  .home-container {
    width: fit-content;
  }
}
