.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width:1024px;
  font-weight: 600;
  font-size: 24px;
}

@media screen and (max-width:1050px) {
  .home-container{
      width: fit-content;
    }
  }