.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fpItem{
  border-radius: 8px;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  border: none;
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fpImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.fpName{
  font-size: 16px;
  text-align: left;
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-size: 12px;
  font-weight: 300;
}

.fpPrice{
  align-self: end;
  font-weight: 900;
}

.fpRating>button{
  margin-left: 5px;
  width: 28px;
  background-color: #003580;
  color: white;
  border-radius:4px 4px 4px 0 ;
  box-shadow: #333;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;
}

.fpRating>span{
  font-size: 12px;
}