.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fpItem {
  border-radius: 8px;
  box-shadow: var(--shadow);
  border: none;
  justify-content: center;
  flex: 1;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.fpImg {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.FPdetailsContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 156px;
  width: 250px;
  justify-content: space-between;
}

.FPdetailsContainer .details {
  display: grid;
  row-gap: 7px;
}

.fpName {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fpCity {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fpPrice {
  align-self: end;
  padding-top: 10px;
  font-weight: 900;
}

.fpRating > button {
  margin-left: 5px;
  width: 28px;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px 4px 4px 0;
  box-shadow: #333;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;
}

.fpRating > span {
  font-size: 12px;
}
