.reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  row-gap: 10px;
}

.break {
  height: 0.1px;
  width: 70%;
  background-color: #bcbcbc;
}

.reviews-container .reviews-header {
  font-size: 40px;
  font-weight: 600;
}

.reviews-container .customers-number {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.reviews-container .total-rating {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  padding: 7px;
  border-radius: 30px;
}
