.RestorePassword-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}


.RestorePassword-container .RP_container{
  width: 50%;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  border: none;
  height: 50vh;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 8px;

}
.RestorePassword-container .main-container .name{
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #1366b2;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  top: -28px;
  position: relative;
}

.RestorePassword-container .RP_container .lButton {
  min-width: 30vw;
    border: none;
    padding: 10px 40px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
  }
  


 .RestorePassword-container .RP_container .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

 .RestorePassword-container .RP_container .lButton:hover{
    background-color: white;
    color: #0071c2;
    border: 1px solid #0071c2;
  }


 .RestorePassword-container .RP_container input{
    text-align: center;
    border: none;
    padding: 10px 20px;
    width: inherit;
    height: fit-content;
    border-radius: 20px;
    min-width: 30vw;

  }

.RestorePassword-container .visible{
  position: relative;
  right: 30px;

}

  @media screen and (max-width:800px) {
    .RestorePassword-container .RP_container{
      width: 90%;
    }
   
    
  }