.navbar {
  padding-top: 10px;
  height: 60px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hover\:bg-gray-100:hover,
.NavDropdown:hover {
  background-color: var(--button-color);
  color: white;
}
.NavDropdown {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}

.headerBtn {
  background-color: var(--button-color);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.listProperty {
  margin-right: 20px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--button-color);
}
