.navbar{
  padding-top: 10px;
  height: 60px;
  background-color: #003b95;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}



.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
.headerBtn{
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.rightContainer{
  display: flex;
    align-items: center;
}

.listProperty{
  margin-right: 20px;
  border: white solid 1px;
  padding: 4px;
  border-radius: 7px;
  cursor: pointer;
}

.listProperty:hover{
  background-color: #004fbe ;
}