.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  background-color: var(--back-ground-main-color);
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 100%;
  width: 50%;
}

.rItem {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  padding: 20px;
  border: var(--border);
  border-radius: 5px;
  justify-content: space-between;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 700;
}

.rDesc {
  font-weight: 300;
  font-size: smaller;
}

.rPrice {
  font-weight: 700;
  font-size: smaller;
}

.rPrice > b {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
.rClose {
  cursor: pointer;
  color: red;
  height: 25px;
}
